html
head
    title Form Infomation
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
body
    div.container
        .card(style = "margin-top: 5%;")
            h3.card-header First Name: #{body.fname}
            h3.card-header Last Name: #{body.lname}
            h3.card-header Birthday: #{body.birthday}
            h3.card-header Gender: #{body.gender}
            h3.card-header Email: #{body.email}
            h3.card-header Phone Number: #{body.phone}